<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style  >
body{
background-color: orange;
 
}
table {
background-color:green;
	border: 2px solid black;
	padding: 50px;
	border-radius: 20px;
}
</style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/tunehubimg.png" style="width:100px; height:100px ;position:absolute; top : 0;right:0" >
     
    </a>
  </div>
</nav>
<h1>Song name is  already exits</h1>

<a href="/map-songs">ADD SONGS</a>
</body>
</html>