<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>		.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

	</style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/tunehubimg.png" style="width:150px; height:150px ;position:absolute; top : 0;right:0" >
     
    </a>
  </div>
  <div class="topnav">
  <a class="active" href="/map-songs">AddSongs</a>
  <a href="/map-viewsongs">view songs</a>
  <a href="/map-createplaylist">Createplaylist</a>
  <a href="/viewplaylist">View Playlist</a>
</div>
</nav>
<h1>DISPLAY SONGS &#127926</h1>
<a href="/back"><button class='back'>BACK</button></a><br>
</body>
</html>